.dialog {
  padding: 10px 0 10px 40px;
  display: flex;
  justify-content: stretch;
  width: 100%;
  box-sizing: border-box;

  img {
    width: 80px;
    border-radius: 50%;
  }

  .messageInfo {
    border-bottom: 1px solid #d7d8d8;
    flex: 1;
    padding: 10px 20px;

    small {
      color: #6d6e71;
    }

    .userName {
      color: #27aae1;
      padding-bottom: 5px;
      font-size: 1.2rem;
    }

    .metaInfo {
      padding-top: 10px;
      color: #6d6e71;
    }
  }
}

.dialog:hover {
  background-color: #dcdde0;
  transition: all 1s;
}
@media (max-width: 480px){
  .dialog{
    padding-left: 10px;
  }
}