.friends {
  margin: 25vh 0 0 0;
  p {
    text-align: center;
    a {
      text-decoration: none;
      color: rgb(235, 235, 235);
    }
    a.activeLink {
      color: gold;
    }
  }
  .allFriends {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
