.music_tracks {
  width: 100%;
  margin: 20px 0;
}

.category_header {
  font-size:2rem;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  color:#27AAE1;
  padding-bottom: 20px;
}

.player {
box-sizing: border-box;
  padding: 10px 20px 10px 10px;
  display: flex;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  background: #FFFFFF;
  position: relative;
  overflow: hidden;

  .arrows {
    flex-basis: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #27aae1;
    margin: 0 2vw 0 1.5vw;
  }

  .play_block {
    box-sizing: border-box;
    position: relative;

    img {
    }

    i {
      text-align: center;
      background: white;
      border-radius: 50%;
      position: absolute;
      left: 30%;
      top: 25%;
      font-size: 0.9rem;
      color: #27AAE1;
    }

    .play {
      padding: 7px 7px 7px 9px;
    }

    .pause {
      padding: 7px;
    }
  }

  .progress_bar {
    flex: 0 1 50%;
    position: relative;
    overflow: visible;
    margin-right: 3vw;
.title_info{
display: flex;
  justify-content: space-between;
  color: #6d6e71;
}
    progress {
      cursor: pointer;
      width: 100%;
      height: 7px;
      -webkit-appearance: none;
      appearance: none;
    }

    progress::-webkit-progress-bar {
      -webkit-appearance: none;
      appearance: none;
      background: #dddddd;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
      border-radius: 15px;
    }

    progress::-webkit-progress-value {
      -webkit-appearance: none;
      appearance: none;
      background-image:
              -webkit-linear-gradient(-45deg,
                      transparent 33%, rgba(0, 0, 0, .1) 33%,
                      rgba(0,0, 0, .1) 66%, transparent 66%),
              -webkit-linear-gradient(top,
                      rgba(255, 255, 255, .25),
                      rgba(0, 0, 0, .25)),
              -webkit-linear-gradient(left, #09c, #f44);

      border-radius: 2px;
      background-size: 35px 20px, 100% 100%, 100% 100%;
    }

    progress::-moz-progress-bar {
      -webkit-appearance: none;
      appearance: none;
      border-radius: 50%;
      background: #dddddd;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
    }
  }

  .hint {
    width: 50px;
    position: absolute;
    background:#ffffff;
    top:20%;
    color:#6d6e71;
   text-align: center;
    border-radius: 5px;
  }
  .volume{
    flex: 0 1 20%;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i{
      color: #6d6e71;
    }
  }


  input[type=range] {
    height: 15px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 80%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 1px #50555C;
    background: #DDDDDD;
    border-radius: 18px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 9px;
    width: 24px;
    border-radius: 12px;
    background: #27AAE1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #DDDDDD;
  }
  input[type=range]::-moz-range-track {
    width: 80%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 1px #50555C;
    background: #DDDDDD;
    border-radius: 18px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 9px;
    width: 24px;
    border-radius: 12px;
    background: #27AAE1;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 80%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #DDDDDD;
    border: 0px solid #000000;
    border-radius: 36px;
    box-shadow: 0px 0px 1px #50555C;
  }
  input[type=range]::-ms-fill-upper {
    background: #DDDDDD;
    border: 0px solid #000000;
    border-radius: 36px;
    box-shadow: 0px 0px 1px #50555C;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 9px;
    width: 24px;
    border-radius: 12px;
    background: #27AAE1;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #DDDDDD;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #DDDDDD;
  }
}


.track_container {
  display: flex;
  background: #FFFFFF;
  border-bottom: 1px solid #EEE;
  padding: 10px 40px 10px 10px;
  justify-content: flex-start;
  align-items: center;

  .track_album {
    position: relative;
    img {
      z-index: 0;
      width: 100%;
      display: block;
    }
    i{
      display: none;
      position: absolute;
      text-align: center;
      background: white;
      border-radius: 50%;
      left: 30%;
      top: 25%;
      font-size: 0.9rem;
      color: #27AAE1;
      padding: 7px 7px 7px 9px;
    }


}
  .track_album_playing::after {
    position: absolute;
    font-size: 1.2rem;
    padding-top: 15%;
    box-sizing: border-box;
    content: ". . .";
    text-align: center;
    vertical-align: center;
    color:white;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    left: 0;
    top: 0;
    z-index: 2;
    background: rgb(13, 19, 27);
  }

.track_album:hover:not(.track_album_playing) i{
  display: block;
}

.track_album_playing {
  position: relative;
}
.track_title{
  flex-grow: 1;
  display: flex;
  margin-left: 3vw;
  color: #6d6e71;
  font-size: 1.1rem;
  justify-content: space-between;
}
}
