.profileDescription {
  flex: 1;
  color: #6d6e71;
  margin-left: 3vw;

  .about {
    padding-top: 10px;
    font-size: 1.1rem;

    &_item {
      padding-bottom: 10px;
    }
  }

  .about_header {
    color: #27aae1;
    font-weight: normal;
    font-size: 1rem;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
  }

  .about_header::after {
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px solid #f1f2f2;
    position: absolute;
    bottom: 24%;
    right: 0;
    z-index: -1;
  }
  .editProfile_btn{
    margin-top: 20px;
    background: #27aae1;
    padding: 15px 30px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
  }
  .editProfile_btn:hover{
    background: #149AC9;
    transition: all 1s;
  }
}