
@keyframes twitch_owner {
   0%{
     right:0;
   }
   50%{
     right:50px;
   }
   100%{
     right: 0;
   }
 }
@keyframes twitch_other {
  0%{
    left:0;
  }
  50%{
    left:50px;
  }
  100%{
    left: 0;
  }
}
.new_owner {
  animation-name: twitch_owner;
  animation-duration: 1s;
}
.new_other{
  animation-name: twitch_other;
  animation-duration: 1s;
}
.dialog_container{
  padding: 20px 0;
  background-color: #f8f8f8;
  height: 100%;
  margin: 0 90px;
  overflow: hidden;
  box-sizing: border-box;
  .userInfo{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding: 0 5px 15px 40px  ;
    span{
      padding-left: 20px;
      font-size: 1.2rem;
      color: #27aae1;
    }
  }
  .dialog{
    height: 65vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .dialog::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .dialog::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .dialog::-webkit-scrollbar-thumb {
    background: #dddddd;
    height: 10px;
  }

  /* Handle on hover */
  .dialog::-webkit-scrollbar-thumb:hover {
    background: #6d6e71;
  }
   img{
    width: 50px;
     border-radius: 50%;
  }
}
@media (max-width: 600px){
  .dialog{
    padding:  0 5px;
  }
  .dialog_container{
    margin: 0;

  }
}
@media (max-width: 480px){
  .dialog_container{
    box-sizing: border-box;
    padding-top: 0;
    position: fixed;
    width: 100%;
    bottom: 44px;
    top:50px;

  }
  .dialog{
    //height: auto !important;
    height: 65% !important;
  }
.userInfo{
  padding: 5px !important;
}
}
