.nav {
  grid-area: n;
  background-color: #26cc87b9;
  padding: 20px;
  .item {
    color: #f1f1f0;
    a{
      text-decoration: none;
      color: rgb(235, 235, 235);
    }
    a.activeLink {
      color: gold;
    }
  }
}
