.main_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1050px;
  margin: 70px auto 0;
  align-items: flex-start;
}

.app_content {
  display: flex;
  flex-basis: 80%;
  background-color: rgb(188, 240, 212);
}
