.messages_count{
  position: absolute;
  top: 25%;
  right: 5%;
  color: #FFFFFF;
  background: #27aae1;
  width: 20px;
  height: 20x;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 3px 2px 16px 3px rgba(39,170,225,0.31);
  -moz-box-shadow: 3px 2px 16px 3px rgba(39,170,225,0.31);
  box-shadow: 3px 2px 16px 3px rgba(39,170,225,0.31);
}