.header {
  background-color: #2b2728;
  position: fixed;
  z-index: 1;
  top:0;
  width: 100%;
  color: white;

  &_content {
    width: 100%;
    max-width: 1050px;
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  &_logo {
    margin-left: 10px;
    width: 70px;
  }
}